Q1.Create a csv file abc.csv with ten rows(Roll no , name , marks).

Read csv file and assign to data frame df.

Print first 6 observation .

Create a data frame df1 from df taking first 6 observation.

Write df1 to csv and colon separated file.

In [7]:
import csv

abc = [
    ['1', 'John', '80'],
    ['2', 'Alice', '90'],
    ['3', 'Bob', '75'],
    ['4', 'Sarah', '85'],
    ['5', 'Mike', '92'],
    ['6', 'Mary', '78'],
    ['7', 'David', '88'],
    ['8', 'Karen', '93'],
    ['9', 'Tom', '81'],
    ['10', 'Lisa', '87']
]

In [8]:
import pandas as pd

df = pd.read_csv('abc.csv')
print(df.head(6))

   Roll no   name  marks
0        1   John     80
1        2  Alice     90
2        3    Bob     75
3        4  Sarah     85
4        5   Mike     92
5        6   Mary     78

In [9]:
df1 = df.head(6)

df1.to_csv('df1.csv', index=False)
df1.to_csv('df1_colon_separated.txt', sep=':', index=False)

Q2. Create a data frame df3 Reading only three rows from abc.csv

In [10]:
df3=df.head(3)
df3

   Roll no   name  marks
0        1   John     80
1        2  Alice     90
2        3    Bob     75

Q3. Create a txt file abc.txt with ten rows(Roll no , name , marks).

Read abc.txt file and assign to df9.

Print first 5 observation and save to data frame df10.

Print last 4 observation and save to data frame df11.

Write df10 to a csv file.

In [12]:
data = [
    ['1', 'John', '80'],
    ['2', 'Alice', '90'],
    ['3', 'Bob', '75'],
    ['4', 'Sarah', '85'],
    ['5', 'Mike', '92'],
    ['6', 'Mary', '78'],
    ['7', 'David', '88'],
    ['8', 'Karen', '93'],
    ['9', 'Tom', '81'],
    ['10', 'Lisa', '87']
]

with open('abc.txt', 'w') as file:
    for row in data:
        file.write('\t'.join(row) + '\n')

In [14]:
import pandas as pd

df9 = pd.read_csv('abc.txt', delimiter='\t', header=None, names=['Roll no', 'name', 'marks'])
df9

   Roll no   name  marks
0        1   John     80
1        2  Alice     90
2        3    Bob     75
3        4  Sarah     85
4        5   Mike     92
5        6   Mary     78
6        7  David     88
7        8  Karen     93
8        9    Tom     81
9       10   Lisa     87

In [17]:
print (df9.head())
df10=df9.head()

   Roll no   name  marks
0        1   John     80
1        2  Alice     90
2        3    Bob     75
3        4  Sarah     85
4        5   Mike     92

In [19]:
df11 = df9.tail(4)
print(df11)

df10.to_csv('df10.csv', index=False)
print(df10)

   Roll no   name  marks
6        7  David     88
7        8  Karen     93
8        9    Tom     81
9       10   Lisa     87
   Roll no   name  marks
0        1   John     80
1        2  Alice     90
2        3    Bob     75
3        4  Sarah     85
4        5   Mike     92