Q1. Create a list L1 of your six friends name.
Convert L1 to series s.
Check data type of S.
Print value of s at index 4.
Print value of s at index 3 and 5.
Using for loop print all your friends name with message Hi!
Reindex s to from default index 0-5 to a,b,c,d,e,f
Print values at index b and e
Print values at index from b to e

In [ ]:
import pandas as pd
l1=["Avantika","Ben10","Priyanka","Divya","Ishika","Juhi"]
l1

['Avantika', 'Ben10', 'Priyanka', 'Divya', 'Ishika', 'Juhi']

In [ ]:
s1=pd.Series(l1)
s1
type(s1)

0    Avantika
1       Ben10
2    Priyanka
3       Divya
4      Ishika
5        Juhi
dtype: object

In [ ]:
s2=pd.Series(s1,index=[4])
s2

4    Ishika
dtype: object

In [ ]:
s3=pd.Series(s1,index=[3,5])
s3

3    Divya
5     Juhi
dtype: object

3    Divya
5     Juhi
dtype: object

In [ ]:

for x in s1:
  print("Hi!"+s1)

0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object
0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object
0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object
0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object
0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object
0    Hi!Avantika
1       Hi!Ben10
2    Hi!Priyanka
3       Hi!Divya
4      Hi!Ishika
5        Hi!Juhi
dtype: object

In [ ]:
#l1=["Avantika","Ben10","Priyanka","Divya","Ishika","Juhi"]
import pandas 
s1=pd.Series(l1)
pd.Series(s1,index=['c','b','a','d','e','f'])
s1.reindex(['a','b','c','d','e','f'])

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: object

In [ ]:
#q2
from pandas import Series
d={'Ak':90, "Bk":99,"Ck":80,"Dk":89}
s1=Series(d)
s1

Ak    90
Bk    99
Ck    80
Dk    89
dtype: int64